.card-container
{
    margin:0 auto;
}
.card {
    width: 280px;
    float: left;
    position: relative;
    border: 1px solid #000000;
    margin: 3px;
}
.card-container

{
    margin: 0 auto;
}
.card  .img-responsive
{
    height: 250px;
    width: 100%;
    object-fit: cover;

}
.overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(184, 184, 184, 0.5);
    top: 0%;
    left: 0;
    right: 0;
    display: none;
}
.card:hover .overlay
{
    display: block;
    text-align: center;
}
/*.imagecontainer

{
    margin: 30px 0;
}*/
.edit-icon
{
    width: 40px;
    margin-top: 40%;
    cursor: pointer;

}
.edit-icon:hover{
    
}
.clearfix
{
    clear: both;
}
#myFile {
    margin: 10px 0;
    border: 1px solid;
    padding: 10px 0px 10px 10px;
    margin-left: -25px;
}
#confirm_Image {
    color: #486ddc;
    border: 1px solid #3338f7;
    width: 100%;
    background: #ffffff;
    padding: 10px 30px;
    }
@media only screen and (max-width:768px)
{

    .card .img-responsive
    {
        max-height: 150px;
    }
    .card
    {
        width: 100%;
    }
    #selectAlternativeImage .img-responsive
    {
        margin-top: 30px;
        max-width: 100%;
        margin: 30px 0 0 0;
        display: initial;
    }
    .alternateImageContainer
    {
        text-align: center;
    }
    #myFile
    {
        margin-left:0;
        width: 100%;
    }
    .edit-icon
    {
        margin-top: 20%;
    }
}